<head>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <title>
        Link Cutter
    </title>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">

<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LinkCutter</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/recent">Short Links</a></li>
      </ul>
    </div>
    </div>

  <div class="col-md-2 col-md-offset-4">
    <form class="navbar-search pull-left" action="{{ url_for('login') }}">
        <button class="btn btn-large" type="button">Large button</button>
    </form>
  </div>
</div>

</nav>

<div class="container-fluid">
<div class="row">
<div class="col-md-6 col-md-offset-3">
    {% block content %}{% endblock %}
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
    {% block URL %}{% endblock %}
</div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>