{% extends "base.html" %}
{% block content %}
<form method="post" action="{{ url_for('new_link') }}">
  <div class="form-group">
    <!-- <label for="URL">Put a long URL here and we cut it!</label> -->
    <input class="form-control" name="long_url" placeholder="Put long URL here">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}

{% block URL %}
{% if url %}
<div class="col-md-6 col-md-offset-3">
  <label>Your short URL:</label>
  <div class="alert alert-success" role="alert">
    <a href="{{ url}}">{{ url}}</a>
  </div>
</div>
{% endif %}
{% endblock %}
